.height-186 {
    height: 186px;
}

.height-400 {
    height: 400px;
}

.row div.col-6.lbl img.img-thumbnail {
    height: 374px;
}

.sales-price {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: -0.3rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}

.payment-option {
    display: inline;
}

.main-price {
    align-items: center;
    display: flex;
    margin-top: 1rem;
    text-align: center;
}
.main-price .payment-option {
    display: inline;
}
.main-price {
    align-items: flex-start;
    margin-top: 1.8rem;
    text-align: left;
}

.main-price {
    align-items: flex-start;
    margin-top: 1.8rem;
    text-align: left;
}