
* {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#header {
  box-shadow: 0 0 8px rgba(77, 83, 69, 1);   
  margin: 0 0 15px;
  background-color: #9fac8c;
}

body {
  margin: 1px 0px 0 0 !important;
  background: #f8f8f8 !important;
  width: auto !important;
  min-width: 970px !important;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #222;
}

/* logo */

.logo {
  float: left;
}

.logo .logo-img {
  float: left;
  width: 74px;
  position: relative;
  top: -16px;
}

.logo .logo-title {
  float: left;
  color: #454c3b;
  display: block;
  font: small-caps bold 30px/40px "Trebuchet MS",Times,sans-serif;
  margin: 9px 0 9px 6px;
  }

.main-work {
  background-color: #e4e9e6;
  border: 1px solid #454c3b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0 0 12px;
  padding: 11px 10px 15px 31px;
  width: auto;
}

/* header-toolbar */

.header-toolbar {
  float: right;
  height: 100%;
}

.toolbar-frame {
  height: 25px;
  width: 160px;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}

.toolbar-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.toolbar-img {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
}

.lbl {
  text-align: right;
  padding-left: 0px;
  padding-right: 10px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #444;
  text-shadow: 1px 1px #fff;
  padding-top: 1px;
  padding-bottom: 1px;
}

.vlr {
  padding-left: 0px;
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  color: #222;
  padding-top: 1px;
  padding-bottom: 1px;
  word-wrap: break-word;
}

.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline-offset: -2px;
}
.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: none;
}
.btn:active, .btn.active {
  background-image: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  outline: 0 none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.btn-grey {
  background-color: #f3f3f3;
  border: 1px solid #e5e5e5;
  color: #818080;
  font-weight: normal;
  height: 40px;
}
.btn-grey:hover, .btn-grey:focus {
  color: #818080;
}

.btn-load-page {
  display: block;
  margin: 20px 0 29px;
}

.filtro {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 0px;
  line-height: normal;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  border: none;
  text-align: left;
  vertical-align: middle;
}

#main > div > div.carousel.slide > div > div.carousel-item > img {
  height: 250px !important;
    width: auto !important;
    margin: 0 auto;
}

#main > div > div.carousel.slide > div > div{
  background: #fff !important;
}

#main > div > div.carousel.slide > div > div > div{
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 62%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 78px;
  color: #212529;
  text-align: center;
}

#main > div > div.carousel.slide > div > div > div > p{
  font-family: Arial;
  font-size: 41px;
  color: #c22;
  font-weight: bold;
}

#main > div > div.carousel.slide > div > div > div > h3{
  font-weight: bold;
}

#main > div > div.carousel.slide > ol{
  bottom: -27px;  
}

#main > div > div.carousel.slide > ol > li{
  background-color: #6c757d;
}

#main-content {
  margin-bottom: 1rem;
}