
* {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#header {
  box-shadow: 0 0 8px rgba(77, 83, 69, 1);   
  margin: 0 0 15px;
  background-color: #9fac8c;
}

body {
  margin: 1px 0px 0 0 !important;
  background: #f8f8f8 !important;
  width: auto !important;
  min-width: 970px !important;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #222;
}

.container {
  height: 56px !important;
}

/* logo */

.logo {
  float: left;
}

.logo .logo-img {
  float: left;
  width: 74px;
  position: relative;
  top: -14px;
}

.logo .logo-title {
  float: left;
  color: #454c3b;
  display: block;
  font: small-caps bold 30px/40px "Trebuchet MS",Times,sans-serif;
  margin: 13px 0 2px;
  padding: 3px 0 0;
  }

.main-work {
  background-color: #e4e9e6;
  border: 1px solid #454c3b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0 0 12px;
  padding: 11px 10px 15px 31px;
  width: auto;
}

/* header-toolbar */

.header-toolbar {
  float: right;
  height: 100%;
}

.toolbar-frame {
  height: 25px;
  width: 160px;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}

.toolbar-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.toolbar-img {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
}

.lbl {
  text-align: right;
  padding-left: 0px;
  padding-right: 10px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #444;
  text-shadow: 1px 1px #fff;
  padding-top: 1px;
  padding-bottom: 1px;
}

.vlr {
  padding-left: 0px;
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  color: #222;
  padding-top: 1px;
  padding-bottom: 1px;
  word-wrap: break-word;
}

#main > div > div.carousel.slide > div > div.carousel-item > img {
  height: 250px !important;
    width: auto !important;
    margin: 0 auto;
}

#main > div > div.carousel.slide > div > div{
  background: #fff !important;
}